<h3>{{ section.settings.text }}</h3>
{% schema %}
{
    "name": "Heading",
    "settings": [
        {
            "type": "text",
            "id": "text",
            "label": "text",
            "default":"Welcome To Our Store"
        }
    ],
    "presets": [
        {
            "name": "Heading"
        }
    ]
}
{% endschema %}